{
  "root": true,
  "env": {
    "es2021": true,
    "node": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "camelcase": "error",
    "spaced-comment": "error",
    "quotes": ["error", "single"],
    "no-duplicate-imports": "error",
    "indent": [ 2, 2 ],
    "linebreak-style": [ 2, "unix" ],
    "semi": [ "error", "always" ],
    "no-console": 0,
    "no-unused-vars": 0
  }
}
